body {
	font-family: Arial, sans-serif;
	background-color: #c2eaec;
	padding: 50px;
}

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#celsius {
	width: 50%;
	padding: 10px;
	margin-bottom: 10px;
}

#farenheit {
	width: 50%;
	padding: 10px;
	margin-bottom: 10px;
}

#result {
	font-size: 20px;
	font-weight: bold;
}